@using Classlibrary
@model AVL<Practica01.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h4>¿Desea visualizar las cartas de recomendación de algún recluta?</h4>
<h5>Ingrese un DPI</h5>
<form asp-action="Search" method="post">
    <div class="input-group input-group-lg">
        <input type="type" name="Recluta" value="" />
        <button class="btn btn-outline-info pe-auto">Search</button>
    </div>
</form>


<h1>Reclutas</h1>

@if (Model.TreeList.Count != 0)
{

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Dpi
                </th>
                <th>
                    Companies
                </th>
                <th>
                    Datebirth
                </th>
                <th>
                    Address
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TreeList)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dpi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.companies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datebirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>

                    @Html.ActionLink("Delete", "Delete", new { Persona = item.dpi })
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div style="text-align:center">
        <label>Aún no hay registros.</label>
        <br>
    </div>
}